<!DOCTYPE html>

<head>
    <title>ok</title>
</head>

<body>
    <h1>Admin </h1>
    <a href="/name">Name</a>
    <a href="/details">Details</a>
    <hr>
    <a href="/login">Logout</a>
</body>

</html>